@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgb(246, 248, 222);
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    font-family: 'Raleway', sans-serif;
}

header{
    text-align: center;
    font-size: 50px;
    font-weight: 200;
    margin: 10px 0 30px 0;
}


.tab-bar{
    background-color:rgb(233, 233, 233);
    display:flex;
    text-decoration: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(216, 216, 216);
    border-top: 1px solid rgb(216, 216, 216);
    
}

.tab-bar div{
    padding:20px 160px;
    font-weight: 400;
    font-size:20px;
    margin: 0 -40;
}

.tab-bar div:hover{
    background-color:rgb(197, 197, 197);
    
}

footer{
    padding:20px;
    display:flex;
    justify-content: center;
}

.top-banner{
    background-color:rgb(19, 31, 63);
    height: 200px;
}

.middle-section{
    background-color:rgb(0, 0, 0);
    padding:100px;
    width: 480px;
    margin: -80px auto -400px auto;
    color:white;
    font-size: 40px;
    text-align: center;
    vertical-align:middle;
    letter-spacing: 5px;
}

.home-background{
    width: 100%;
    height: 120vh;
    background: url('./menu images/sweet_buns.jpg');
    z-index: -1;
    position: relative;
    background-size: contain; /* scales to fit content area */
    background-repeat: no-repeat;
    background-position:center;
    
}
.container{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color:rgb(19, 31, 63);
    justify-content: space-evenly;
}
.card{
    background-color: white;
    box-shadow: rgb(0, 0, 0);
    width: 700px;
    height: 360px;
    margin: 50px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-shrink: 0;
}
.menu-img{
    width: 300px;
    margin: 30px;
    height: auto;
    flex-shrink:0;
}
.menu-title{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.menu-text{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    word-spacing: 3px;
    margin: 30px;
}

.menu-price{
    font-style: italic;
    margin: 30px;
}

.contact-info{
    text-align: center;
}
.menu-info{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

.row-reverse{
    flex-direction:row-reverse;
}